#slides{
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

.slide.active {
    opacity: 0.5;
}

.slide:nth-of-type(1) {
    background-image: url('../img/portfolio/Drone.png');
  }
  
  .slide:nth-of-type(2) {
    background-image: url('../img/portfolio/iroboat-challenge.jpg');
  }

  .slide:nth-of-type(3) {
    background-image: url('../img/portfolio/drone_gazebo.png');
  }